<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.org/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:./data/school-app</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Hibernate settings -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Creates/Updates tables automatically -->
        <property name="hibernate.show_sql">true</property> <!-- Show SQL in console -->
        <property name="hibernate.format_sql">true</property> <!-- Format SQL for better readability -->
        <mapping class="com.ydova.schoolapp.entity.Student"/>


    </session-factory>
</hibernate-configuration>